<header class="o-hero">
  <div class="o-hero__content">
    <h1 class="o-hero__title">{{ pageTitle }}</h1>
    <p class="o-hero__description u-color--dark">{{ pageDescription }}</p>
  </div>
</header>