<header class="o-hero">
  <div class="o-hero__content">
    <h1 class="o-hero__title">{{ pageTitle }}</h1>
    <p class="o-hero__description u-color--dark">{{ pageDescription }}</p>
    <div class="o-hero__body">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </div>
    <div class="o-hero__circle o-hero__circle--1"></div>
    <div class="o-hero__circle o-hero__circle--2"></div>
  </div>
  <p class="o-hero__geo">
    51° 8' 35.0376" N<br>
    0° 51' 40.914" E
  </p>
</header>