{% import "partials/macro/nav-item.njk" as nav %}
<nav class="o-site-navigation">
  <ul class="o-site-navigation__list">
    {% for item in navigation %}
      {{ nav.item(item.slug, item.name, item.description, page.fileSlug) }}
    {% endfor %}
  </ul>
</nav>