<header class="o-page-header {{ "u-bg--" + headerColour if headerColour else "u-bg--primary" }}">
  <div class="o-page-header__content {{ "u-color--" + headerColour if headerColour else "u-color--primary" }}">
    <h1 class="o-page-header__title">{{ pageTitle }}</h1>
    <p class="o-page-header__description">{{ pageDescription }}</p>
  </div>
</header>