<!DOCTYPE html>
<html>
	<head>
    {% include "partials/global/meta.njk" %}
		<link rel="shortcut icon" href="/favicon.ico" />
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
	</head>
	<body>
    {% include "partials/global/header.njk" %}
    {% block content %}
    {% endblock %}
    {% include "partials/global/footer.njk" %}
  </body>
</html>
