<!DOCTYPE html>
<html>
	<head>
    {% include "partials/global/meta.njk" %}
                <link rel="shortcut icon" href="/favicon.ico" />
	</head>
	<body>
    <a href="#main-content" class="u-skip-content">Skip to the content</a>
    {% include "partials/global/header.njk" %}
    <main id="main-content" class="o-main-content" tabindex="0">
      {% block content %}
      {% endblock %}
    </main>
    {%if page.fileSlug != '' %}

      {% include "partials/global/footer.njk" %}

    {% endif %}

    <script type="module" src="/assets/main.js"></script>
  </body>
</html>
