.o-site-footer {
  color: color(light);
  grid-column-start: content;
  border-radius: 10px;
  padding: 2rem;
    background: {
    color: color(dark);
    image: url('../images/background-light.png');
    repeat: no-repeat;
  }
}