.o-site-header {
  padding: 0 2rem;
  position: relative;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: {
    color: color(dark);
    image: url('../images/background-light.png');
    repeat: no-repeat;
  }
  @include breakpoint(lg) {
    height: 100vh;
    flex-direction: column;
    position: sticky;
  }
}
.o-site-brand {
  display: block;
  margin:0 0 1rem;
  padding: 2rem 0;
  line-height: 1.25;
  text-transform: uppercase;
  font-size: 20px;
  &__logo {
    width: 4rem;
    height: auto;
    margin-bottom: 1rem;
    
  }
  &__name {
    color: color(light);
    display: none;
    font-weight: bold;
  }
  &__description {
    color: color(pink);
    display: none;
  }
}
