@use "../common/colours";
@use "../functions/breakpoints";

.o-site-header {
  padding: 1rem;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .5s;
  overflow: hidden;
  background: {
    color: colours.color('dark');
    image: url('../images/background-light.png');
    repeat: no-repeat;
  }
  clip: rect(0, auto, auto, 0);
  &.is-active {
    height: 100%;
  }
  @include breakpoints.breakpoint(lg) {
    border-radius: 10px;
    padding: 1.5rem;
    top: 2rem;
    height: calc(100vh - 4rem );
    flex-direction: column;
    position: sticky;
  }
  @include breakpoints.breakpoint(xl) {
    padding: 2rem;
  }
}

.o-site-brand {
  display: inline-block;
  line-height: 1.25;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: -0.5rem;
  width: 3.25rem;
  @include breakpoints.breakpoint(lg) {
    padding: 1rem;
    margin: -1rem;
    width: 6rem;
  }
  &:focus {
    outline: none;
  }
  &.focus-visible {
    background-color: colours.color('focus-background');
    path {
      fill: colours.color('focus-foreground')
    }
  }
  &__logo {
    width: 100%;
    height: auto;
  }
  &__name {
    color: colours.color('light');
    display: none;
    font-weight: bold;
  }
  &__description {
    color: colours.color('pink');
    display: none;
  }
}
