@use "../common/colours";
@use "../functions/breakpoints";

.o-mobile-navigation-button {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 0.25rem;
	z-index: 10;
	transition: 0.5s;
	outline: none;
  border: none;
  position: relative;
  background: none;
  &__text {
    position: absolute;
    right: calc( 100% + 1rem );
    top: 0;
    color: colours.color('light');
    line-height: 2.5rem;
  }
  &__bar {
    display: block;
    background: colours.color('light');
    height: 3px;
    position: absolute;
    left: 0.25rem;
    transition: 0.3s;
    pointer-events: none;
    border-radius: 10px;
    &--1 {
      top: 10px;
      width: 2rem;
      transform: translate(0, 0);
    }
    &--2 {
      width: 1.5rem;
      transform: translate(0, -50%);
      top: 50%;
    }
    &--3 {
      bottom: 10px;
      width: 1.75rem;
      transform: translate(0, 0);
    }
  }
  &.is-active {
    .o-mobile-navigation-button__bar--1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .o-mobile-navigation-button__bar--2 {
      opacity: 0;
      
    }
    .o-mobile-navigation-button__bar--3 {
      top: 50%;
      left: 50%;
      width: 2rem;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &:hover {
    .o-mobile-navigation-button__bar {
      width: 2rem;
    }
  }
	&:focus {
		outline: none;
	}
  &.focus-visible {
    background-color: colours.color('focus-background');
    .o-mobile-navigation-button__bar {
      background-color: colours.color('focus-foreground');
    }
  }
	@include breakpoints.breakpoint(lg) {
		display: none;
	}
}

.o-site-navigation {
  position: absolute;
  top: 4.5rem;
  width: calc(100% - 2rem);
  @include breakpoints.breakpoint(lg) {
    top: 0;
    width: auto;
    position: relative;
  }
  &__list {
  }
  &__item {
    position: relative;
    padding: 1.25rem 0 1rem;
    border-bottom: 2px solid colours.color(light,.25);
    transition: .5s;
    opacity: 0;
    transform: translatey(-2rem);
    @for $i from 1 through 10 {
      &:nth-child(#{$i}n) {
        transition: {
          delay: #{$i * .1 + .25}s;
          property: opacity, transform;
        }
      }
    }
    @include breakpoints.breakpoint(lg) {
      transition: {
        delay: 0s;
        property: opacity, transform;
      }
    }
    .menu-active & {
      opacity: 1;
      transform: translatey(0);
    }
    @include breakpoints.breakpoint(lg) {
      opacity: 1;
      transform: translatey(0);
      padding: .75rem 0;
    }
    @include breakpoints.breakpoint(xl) {
      padding: 1rem 0;
    }
    & + & {
    }
    &--current {
      &:before {
        content: '';
        height: 3rem;
        width: .6rem;
        position: absolute;
        top: 1.15rem;
        left: -2rem;
        background: currentColor;
        border-radius: 0 2px 2px 0;
      }
    } 
    &:nth-child(1){
      color: colours.color('blue');
    }
    &:nth-child(2){
      color: colours.color('orange');
    }
    &:nth-child(3){
      color: colours.color('green');
    }
    &:nth-child(4){
      color: colours.color('pink');
    }
    &:nth-child(5){
      color: colours.color('purple');
    }
  }
  &__link {
    display: block;
    transition: .3s;
    padding: 0.5rem;
    margin: -0.5rem;
    border-radius: 0.25rem;
    &:hover {
      transform: translateX(.25rem);
    }
    color: inherit;
    &:focus {
      outline: none;
    }
    &.focus-visible {
      background-color: colours.color('focus-background');
      .o-site-navigation__label, 
      .o-site-navigation__description {
        color: colours.color('focus-foreground');
        text-shadow: none;
      }
    }
  }
  &__label {
    line-height: 1;
    display: block;
    text-transform: uppercase;
    font-family: "Din Condensed";
    font: {
      // weight: normal;
      size: 1.75rem;
    }
    @include breakpoints.breakpoint(xl) {
      font: {
        size: 2rem;
      }
    }
  }
  &__description {
    color: white;
    line-height: 1;
    text-shadow: 0 0 5px colours.color('dark');
    display: inline-block;
    font: {
      size: .8rem;
    }
    @include breakpoints.breakpoint(lg) {
      font: {
        size: 1rem;
      }
    }
  }
}