.o-page-header {
  display: block;
  padding: 5rem 1rem .5rem 0;
  border-radius: 10px;
  background: {
    image: url('../images/marble-ink-05.jpg');
    blend-mode: overlay;
    repeat: no-repeat;
    size: cover;
    attachment: fixed;
  }
  @include breakpoint(md) {
    padding: 10rem 2.5rem 0 0;
  }
  @include breakpoint(lg) {
    padding: 20rem 5rem 1rem 0;
  }
  &__content {
    text-shadow: 0 0 5px color(dark,.1), 0 0 10px color(dark,.1);
    padding: 0 1rem;
    display: inline-block;
    border-radius: 0 10px 10px 0;
    @include breakpoint(md) {
      padding: .5rem 1.5rem;
    }
    @include breakpoint(lg) {
      padding: 0 2rem;
    }
  }
  &__title {
    color: color(light);
  }
  &__description {
    color: color(light);
    @include breakpoint(md) {
      font-size: 1.25rem;
    }
    @include breakpoint(lg) {
      font-size: 1.5rem;
    }
  }
}