body {
  padding: 5.5rem 1rem 1rem;
  background: {
    // position: left top 500px;
    color: color(light);
    image: url('../images/background.png');
    repeat: no-repeat;
  }
  font: {
    family: 'Gotham', sans-serif;
    size: 16px;
  }
  // grid-template-rows: [header] 20rem [content];
  @include breakpoint(md) {

  }
  @include breakpoint(lg) {
    padding: 2rem;
    display: grid;
    grid-template-columns: [header] 20rem [content];
    gap: 2rem;
    background: {
      // position: left 300px top 500px;
    }
  }
  color: color(dark);
  &.menu-active {
    height: 100vh;
    overflow: hidden;
  }
}

.o-main-content {

}
.o-content-wrap {
  padding: 2rem 0;
  max-width: 1000px;
  // height: 5000px; // Remove this later
  // display: grid;
  // grid-template-columns: repeat(2, 50% [content] );

  
}

a {
  color: color(dark);
}

p {
  padding: .5rem 0;
  &:first-child {
    padding-top: 0;
  }
}