body {
  background-color: color(light);
  font: {
    family: 'Gotham', sans-serif;
    size: 16px;
  }
  padding-top: 4.5rem;
  // grid-template-rows: [header] 20rem [content];
  @include breakpoint(lg) {
    padding-top: 0;
    display: grid;
    grid-template-columns: [header] 20rem [content];
  }
  color: color(dark);
  &.menu-active {
    height: 100vh;
    overflow: hidden;
  }
}

.o-main-content {

}
.o-content-wrap {
  padding: 2rem;
  max-width: 1000px;
  height: 5000px; // Remove this later
  // display: grid;
  // grid-template-columns: repeat(2, 50% [content] );
  background: {
    color: color(light);
    image: url('../images/background.png');
    repeat: no-repeat;
  }
  
}

a {
  color: color(dark);
}

p {
  padding: .5rem 0;
  &:first-child {
    padding-top: 0;
  }
}