@use "colours";

.u-skip-content {
	position: fixed;
	left: 0;
	top: -100%;
	width: auto;
	margin-left: 0;
	list-style: outside none;
	z-index: 1000;
  border-radius: 3px;
  font-size: 1.5rem;
	&:focus {
		top: 6px;
		left: 6px;
		outline: none;
		background-color: colours.color('focus-background');
		color: colours.color('focus-foreground');
		font-weight: bold;
		padding: 10px;  
	}
}