$theme-colors: (
  primary: #6ccff6,
  secondary: #f89e33,
  tertiary: #62d567,
  quarternary: #f54884,
  light: #f3f3f3,
  mid: #5c5c5c,
  dark: #2e2e2e,
  success: green,
  warning: orange,
  error: tomato,
);