$theme-colors: (
  blue: #6ccff6,
  orange: #f89e33,
  green: #62d567,
  pink: #f54884,
  purple: #a942a9,
  light: #fff9f1,
  mid: #5c5c5c,
  dark: #2e2e2e,
  success: green,
  warning: orange,
  error: tomato,
);

$breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1300px,
  // Extra Extra large screen / wide desktop
  xxl: 2000px
);